<div class="container">
  <div @slideInRight class="left">
  <div class="left-content">
    <hr width="50%" align="left">
    <h2>Property Preservation Matrix and Reference Guide</h2>
    <div class="left-buttons">
      <a  [routerLink]="['/']"><button mat-raised-button>Matrix</button></a><br />
      <a  [routerLink]="['/reference-guide']"><button mat-raised-button>Reference Guide</button></a><br />
      <a  target="_blank" href="../../assets/ppmatrix.pdf"><button mat-raised-button>Download PDF</button></a>
    </div>
  </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
